*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #00aaff, #00ff66);
}
.main_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.main_grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: solid 1px #fff;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
}
.main_grid > button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.large_btn {
  grid-column: span 2;
}
.display_screen {
  grid-column: 1/-1;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.prev {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
.current {
  font-size: 2.5rem;
  color: #fff;
}
